@import url('https://fonts.googleapis.com/css2?family=Comic+Relief:wght@700&family=Lexend+Giga:wght@100..900&family=Roboto+Flex:opsz,wght@8..144,100..1000&display=swap');

@font-face {
    font-family: SFR PRO DISPLAY;
    src: url(/src/Fonts/SFPRODISPLAYREGULAR.OTF) format('truetype');
}

@media only screen and (min-width:700px) {
    .textlol {
        justify-self: center;
        margin: 1em;
        font-weight: bolder;
        font-size: 1.5em;
        font-family: "Lexend Giga", sans-serif;
        border: 2px solid black;
        border-radius: 1em;
        padding: .2em;
        background-color: white;
    }

    /* zona para productos */
    .marco {
        background-color: gray;
        justify-self: center;
        width: 80vw;
        display: grid;
        grid-template-columns: 23em 1fr;
        grid-template-rows: 5em 1fr;
        border-radius: 2em;
        border: 8px double black;
        font-family: "Lexend Giga";
        color: white;
        margin-bottom: 1em;
    }

    .cuadroORow {
        display: flex;
        align-items: center;
        background-color: rgba(104, 0, 0, 0.329);
        border-bottom-right-radius: 1em;
        height: 3em;
    }

    .grilla {
        justify-self: center;
        width: 70vw;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 1em;
        position: relative;
        grid-row: 2 / 3;
        grid-column: 1 / 3;
    }

    .grillaRow {
        grid-row: 2 / 3;
        grid-column: 1 / 3;
        width: 70vw;
        justify-self: center;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(var(--num-rows, 10px));
    }


    /* CSS para cada producto */
    .product {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        gap: .5em;
        background-color: rgb(224, 181, 124);
        border-radius: 1em;
        box-shadow: 2px 2px 10px black;
        height: 10em;
        margin: 1em;
    }

    /* Nombre del Producto */
    .product>*:nth-child(1) {
        justify-self: center;
        align-self: center;
        font-family: "SFR PRO DISPLAY";
        font-size: 1.1em;
        text-align: center;
        color: black;
    }

    /* Imagen del Producto */
    .product>*:nth-child(2) {
        color: blue;
        grid-row: 1 / 3;
        grid-column: 1 / 2;
        align-self: center;
        justify-self: center;
        height: 7em;
        border-radius: 1em;
    }

    /* Precio del Producto */
    .product>*:nth-child(3) {
        align-self: center;
        font-size: 1.5em;
        font-family: "Roboto Flex";
        text-align: center;
        font-weight: bolder;
        color: black;
    }

    /* Vista en Lista */
    .productList {
        display: grid;
        grid-template-columns: 30% 60% 10%;
        /* grid-template-rows: 1fr; */
        gap: .5em;
        background-color: rgb(224, 181, 124);
        border-radius: 1em;
        box-shadow: 2px 2px 10px black;
        height: 5em;
        margin: 1em;
        margin-top: .5em;
    }

    .productList>*:nth-child(1) {
        justify-self: start;
        align-self: center;
        grid-column: 2 / 3;
        grid-row: 1 / 3;
        font-family: "SFR PRO DISPLAY";
        font-size: 1.2em;
        color: black;
    }

    .productList>*:nth-child(2) {
        color: blue;
        grid-column: 1 / 2;
        grid-row: 1 / 3;
        align-self: center;
        justify-self: center;
        height: 4em;
        border-radius: .5em;
    }

    .productList>*:nth-child(3) {
        align-self: center;
        grid-column: 3 / 4;
        grid-row: 1 / 3;
        font-size: 1.5em;
        font-family: "Roboto Flex";
        font-weight: bolder;
        color: black;
    }

    a:link,
    a:visited,
    a:hover,
    a:active {
        text-decoration: none;
    }
}