.Navar{
    height: 7em;
    background-color: rgb(23, 29, 21);
    display: grid;
    grid-template-columns: 30% 25% 35%;
    color: white;
    align-content: center;
    justify-items: end;

}

.Navar > *{
    /* background-color: red; */
    border: 3px solid white;
    display: flex;
    align-items: center;
}

.logotype{
    height: 50px;
    aspect-ratio: 1/1;
    border-radius: .5em;
}

@media only screen and (max-width: 600px) {
    .Navar{
        height: 5em;
    }
}

/* .logotipo, .search, .carAndLogin{
    display: flex;
    align-items: center;
} */